asgiref==3.11.1
certifi==2026.4.22
cloudinary==1.44.1
Django==5.2.13
gunicorn==26.0.0
packaging==26.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
sib-api-v3-sdk==7.6.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.12.0
sib-api-v3-sdk
